<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false">

    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">tests/Unit/</directory>
        </testsuite>
    </testsuites>

</phpunit>